.sectionsContainer {
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  margin: 0 auto;
}
.employeesContainer {
  display: flex;
  flex-wrap: wrap;
  width: 50%;
}
.activeEmployeesContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
}
.sectionTitle {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}